/*

 @file: dashboard.css 


 @purpose: inorder to sryle the landing page of our dashboard application 

*/

// colors

$navbar-bg-color: #07058a83;
$bg-color: linear-gradient(to right, #e1eec398, #e1eec398);

.remove-spacing {
    max-width: 30%;
}
.dashboard-nav-title {

    font-size: 1.5em;
    font-weight: bold;
    color: #fff !important;
    margin-bottom: 0;
    margin-left: 5vw;
    padding-top: 0;
    padding-bottom: 0;
}

.dashboard-nav-color {

    background-color: $navbar-bg-color;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    i {
        margin-right: 10px;
    }

    .nav-link:hover {
        color: rgb(140, 198, 255);
        cursor: pointer;
    }
}

.dashboard-nav-title-sub {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-style: italic;
}

.dashboard-horizontal-nav {
    position: relative;
    margin: 0px;
    height: max-content;
    max-width: 20%;
    background-color: #07058a83;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 0px !important;

    .nav-items {
        max-width: 100%;
        max-height: 100%;
    }

    .nav-item {
        color: black !important;
        padding: 0px;
    }

    a {
        color: black !important;
    }

    i {
        border-radius: 10px;
        padding: 10px;
        margin: 0px;
        font-size: 25px;
        color: #fff;
    }

    .nav-link:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        cursor: pointer;
    }

    .nav-link-text {
        color: white;
        font-weight: 800;
    }
}

.rm-pm {
    padding: 0px;
    margin: 0px;
}

// media query for the dashboard nav

@media screen and (max-width: 1000px) {
    .dashboard-horizontal-nav {
        max-width: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
        top: 0px;
        left: 0px;
        height: auto;
        background-color: #07058a83;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        z-index: 1;
        .nav-items {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .dashboard-horizontal-nav {
        position: relative;
    }
}

.dashboard-content {
    padding: 25px;
    width: 90%;
    margin: 0px;

    .sub-caption {
        color: slategray;
        font-size: 16px;
        font-style: italic;
        font-weight: 800;
    }

    .card {
        border: none;       
        padding-top: 25px;
        padding-bottom: 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        margin: 20px;
        border-radius: 30px;
    }

    .card-footer {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .card-title {
        font-weight: 800;
    }
    .header-title {
        margin-left: 50px;
    }

    .profile-img {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .profile-img-sm {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        width: 75px;
        border-radius: 50%;
    }

    i {
        margin-right: 10px;
    }

    .role-badge {
        background-color: #6580f7; /* fallback for old browsers */
        border-radius: 10px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        color: #fff;
        font-size: 0.8em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .role-badge:hover {
        cursor: pointer;
        background-color: #1c2e7a;
    }

    .btn-message {
        background-color: #6580f7; /* fallback for old browsers */
        border-radius: 10px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        color: #fff;
        font-size: 0.8em;
        font-weight: bold;
        margin-bottom: 10px;
        width: 100%;
    }

    .btn-message:hover {
        cursor: pointer;
        background-color: #1c2e7a;

    }

    /* Message box styling for our appl;ication  */

    .modal-title {
        font-weight: bold;
        font-size: 1.5em;
    }

    .modal {
        display: block;
        animation: fadeIn 2s;
        padding: 20px;
        background-color: #0a0a167c !important;
        z-index: 1;


        .btn-close {
            padding: 10px;
        }


        .btn-close:hover {
            background-color: rgb(231, 109, 109);
            border-radius: 50%;
            color: #fff;
        }


        btn-close:active {
            background-color: rgb(248, 47, 47);
            border-radius: 50%;
            color: #fff;
        }
    }

    .modal-dialog {
        position: relative;
        top: 15%;       
    }

    .modal-content {
        border-radius: 20px;
        width: 100%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        padding: 50px;
    }


    .success-message-wrapper {

        i {
            font-size: 2em;
            color: #2350e4;
        }


        .success-message {
            font-size: 1em;
            font-weight: bold;
            font-style: italic;
        }
    }


    .failure-message-wrapper {
        i {
            font-size: 2em;
            color: #ff0000;
        }

        .failure-message {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

/*---------------------------------------------------------------------
    animation classes for the dashboard nav 
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



// ------------------- table styling -------------------------

.table {
    padding: 10px;;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px -2px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        thead {
            padding: 10px;
            background-color: #3f4ed89f;
            color: #fff;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            border-radius: 20px;
        }

        tr {
            border-bottom: 1px solid #ddd;
        }

        td {
            padding: 10px;
            text-align: center;
        }


        td:hover {
            cursor: pointer;
            background-color: #4069f04d;
        }
}



.drop-shift-icon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
    color: #6580f7;

}


.employee-card {
    border: none;
    padding: 25px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: 20px;
    border-radius: 30px;


    .employee-icon {
        font-size: 2em;
        color:rgb(117, 103, 235)

     
    }
}

.shift-shop {

    padding: 20px;
    max-height: 400px;
    overflow-y: scroll;
    border-top: 5px solid #1a2d8373;
}

.card-border {
    box-sizing: content-box;
    border-radius: 20px;
}

.btn-sm {
    width: 200px;
    height: auto;
    margin: auto;
}