/*

 @file: dashboard.css


 @purpose: inorder to sryle the landing page of our dashboard application

*/

// colors

@import 'mobile.scss';
@import 'components/schedule.scss';

$navbar-bg-color: linear-gradient(to right, #fd9494, rgb(208, 68, 52) );
$bg-color: linear-gradient(to right, #e1eec398, #e1eec398);
$modal-bg-color: linear-gradient(to right, #2a5280, #154297c9);  /* Chrome 10-25, Safari 5.1-6 */

$navbar-color-dashboard:  #cc5656;

.remove-spacing {
    max-width: 30%;
}
.dashboard-nav-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff !important;
    margin-bottom: 0;
    margin-left: 5vw;
    padding-top: 0;
    padding-bottom: 0;
}

.header-navbar-dashboard {
    background-color: $navbar-color-dashboard;
    border-radius: 0;
    border: none;
    padding: 10px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

// media query for dashboard nav from horizontal to vertical


.dashboard-nav-color {
    background: $navbar-bg-color;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    i {
        margin-right: 10px;
    }

    .nav-link:hover {
        color: rgb(198, 227, 255);
        cursor: pointer;
    }
}

.dashboard-nav-title-sub {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-style: italic;
}

.dashboard-horizontal-nav::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    height: 100px;
}

.dashboard-horizontal-nav::-webkit-scrollbar-track {
    background: rgba(226, 226, 226, 0.85);
    border-radius: 10px; /* color of the tracking area */
}

.dashboard-horizontal-nav::-webkit-scrollbar-thumb {
    background-color: rgba(5, 74, 163, 0.522); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}



.dashboard-horizontal-nav {
    background-color: $navbar-color-dashboard;
    position: fixed;
    display: none;
    height: 100%;
    width: 300px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow-y: scroll;
    padding-top: 10%;
    z-index: 1;

    .nav-items {
        max-width: 100%;
        max-height: 100%;
    }

    .nav-item {
        color: black !important;
        padding: 0px;

    }

    .nav-link {
        padding: px;
        width: 80%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    a {
        color: black !important;
    }

    i {
        border-radius: 10px;
        padding: 10px;
        margin: 0px;
        font-size: 25px;
        color: #fff;
    }

    .nav-link:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        cursor: pointer;
    }

    .nav-link-text {
        color: white;
        font-weight: 800;
    }
}

//  slide in animation for the side nav bar with a fade effect

.slideInFade {
    //fadeanimation-webkit-animation: slidein 0.5s forwards;
    animation: slideInFade 1s both;
    -webkit-animation: slideInFade 1s both;
}

.slideOutFade {
    //fadeanimation-webkit-animation: slideout 0.5s forwards;
    animation: slideOutFade 1s both;
    -webkit-animation: slideOutFade 1s both;
}

@keyframes slideInFade  {
    0% {
        display: block;
        transform: translateX(-100%);
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideOutFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }
}

.rm-pm {
    padding: 0px;
    margin: 0px;
}


.dashboard-content {
    max-width: 100%;
    padding: 25px;
    position: absolute;
    top: 20%;

    .sub-caption {
        color: slategray;
        font-size: 16px;
        font-style: italic;
        font-weight: 800;
    }

    .header-subtitle {
        font-size: 24px;
    }

    .card {
        border: none;
        padding: 50px;
        // make a think box shadows
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        margin: 20px;
        border-radius: 30px;
    }

    .card-footer {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .card-title {
        font-weight: 800;
    }
    .header-title {
        margin-left: 50px;
    }

    .profile-img {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .profile-img-sm {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        width: 75px;
        border-radius: 50%;
    }

    i {
        margin-right: 10px;
    }

    .role-badge {
        background-color: #2f45a7bd; /* fallback for old browsers */
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 10px;
        // modern box shadow
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }

    .role-badge:hover {
        background-color: #566bccbd; /* fallback for old browsers */
    }

    .role-danger {
        background-color: #a71919; /* fallback for old browsers */
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 10px;
        // blured box shadow
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }


    .role-na {

        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
        color: rgba(34, 34, 34, 0.796);
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 10px;
    }


    @media screen and (max-width: 1000px) {
        .role-badge {
            font-size: 0.7em;
        }
    }

    .role-badge:hover {
        cursor: pointer;
        background-color: #1c2e7a;
    }

    .bg-danger {
        background-color: #ff0000;
    }

    .text-cancel {
        text-decoration: line-through;
    }

    .bg-danger:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        cursor: pointer;
        background-color: #ff8b8b !important;
    }

    .btn-message {
        background: #0e65c1ab;  /* fallback for old browsers */
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        color: #fff;
        font-size: 0.8em;
        font-weight: bold;
        width: 100%;
       // heavy box shadow
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }

    .btn-message:hover {
        cursor: pointer;
        background-color: #0f299ed4;
    }

    .btn-danger {
        border: none !important;
        background-color: #ff7f7bcc; /* fallback for old browsers */
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        color: #fff;
        font-size: 0.8em;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    .btn-danger:hover {
        cursor: pointer;
        background-color: #5c0000;
    }

    .btn-warning {
        border: none !important;
        background-color: #f8c74acc; /* fallback for old browsers */
        border-radius: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        color: rgb(33, 33, 33);
        font-size: 0.8em;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    .btn-warning:hover {
        cursor: pointer;
        background-color: #fcd450;
    }

    /* Message box styling for our application  */

    .modal-title {
        font-weight: bold;
        font-size: 1.5em;
        text-emphasis: bold;
        text-align: center;
    }

    .modal {
        display: block;
        animation: fadeIn 2s;
        padding: 20px;
        background-color: #0a0a167c !important;
        z-index: 1;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

        .modal-close {
            border: none;
            font-size: 2em !important;
            background: transparent;
            padding: 0px;
            color: rgba(255, 255, 255, 0.72) !important;
        }

        .modal-close:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            background-color: rgb(231, 109, 109);
            border-radius: 50%;
            color: rgb(0, 0, 0);
        }

        btn-close:active {
            background-color: rgb(248, 47, 47);
            border-radius: 50%;
            color: #fff;
        }
    }

    .modal-dialog {
        border: none;
        position: relative;
        top: 12.5%;
        max-height: 300px;
    }

    .modal-content {
        border: none !important;
        border-radius: 20px;
        width: 100% !important;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .modal-header {
        padding: 25px;
        text-align: center !important;
        border-radius: 20px 20px 0px 0px;
        padding: 25px;
        color: rgb(255, 255, 255) !important;
        background-color: rgba(46, 97, 192, 0.7);
        button {
            color: #000000 !important; /* fallback for old browsers */
        }
    }

    .modal-body {
        padding: 50px;
        border-radius: 0px 0px 20px 20px;
    }

    .bg-blue {
        background-color: #ffffff88;
    }

    .success-message-wrapper {
        i {
            font-size: 2em;
        }

        .success-message {
            font-size: 1em;
            font-weight: bold;
            font-style: italic;
        }
    }

    .failure-message-wrapper {
        i {
            font-size: 2em;
            color: #ff0000;
        }

        .failure-message {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.apply-scale-entrance {
    animation: scaleEntrance 3s ease-in-out;
}

/*---------------------------------------------------------------------
    animation classes for the dashboard nav
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleEntrance {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

// ------------------- table styling -------------------------

.table {
    padding: 25px;
    font-size: medium;
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;

thead
{
        padding: 100px !important;
        background-color: #002e6ad7;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        border-radius: 20px;
    }

    th {
        padding: 25px;
    }

    td {
        font-size: 16px;
        padding: 15px;
        text-align: center;

        span {
            margin-top: 20px;
        }
    }

    td:hover {
        cursor: pointer;
   // modern blue hover effect
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background-color: #c0d4f8bf !important;
    }
}

.drop-shift-icon {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
    color: #6580f7;
}

.employee-card {
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 10px;
    border-radius: 30px;

    .employee-icon {
        font-size: 2em;
        color: rgb(117, 103, 235);
    }
}

// custom scroll bar for shift shop

.shift-shop::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.shift-shop::-webkit-scrollbar-track {
    background: rgba(175, 175, 175, 0.46);
    border-radius: 10px; /* color of the tracking area */
}

.shift-shop::-webkit-scrollbar-thumb {
    background-color: rgba(17, 60, 199, 0.467); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}



.shift-shop {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
    padding: 20px;
    -webkit-border-radius: 20p;
    -moz-border-radius: 20p;
    -ms-border-radius: 20p;
    -o-border-radius: 20p;
}

.card-border {
    box-sizing: content-box;
    border-radius: 20px;
}

.btn-sm {
    width: 200px;
    height: auto;
    margin: auto;
}

/* we will  render a medium svg for the component  */

.svg-md {
    width: 300px !important;
    height: 300px !important;
}

/* Schedule Container  styles */


.schedule_pill::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.schedule_pill::-webkit-scrollbar-track {
    background: rgba(175, 175, 175, 0.46);
    border-radius: 10px; /* color of the tracking area */
}

.schedule_pill::-webkit-scrollbar-thumb {
    background-color: rgba(9, 32, 119, 0.467); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

.schedule_pill {
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    overflow-x: scroll;
}

/*  start of contact box pannel   */

.messagebox-background-nav {
    background-color: #ececec3f;
    padding: 150px;
}

.message-box-card {
    padding: 0px !important;
    border-radius: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    .message-box-message {
        font-size: 16px;
        font-style: italic;
        border-radius: none !important;
    }
}

.no-margin {
    * {
        margin: 0px;
        border-radius: 0px;
    }
}

.shadow {
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.contact-hover-action {
    padding: 25px;
    border-radius: 30px;
}

.contact-hover-action:hover {
    background-color: #2350e415;
    cursor: pointer;
}

.message-pannel-toggler {
    font-size: 100px !important;
    color: #2350e47c;
}

/* end of Contact Box pannels  */

.message-pannel-container {
    .message-pannel-header {
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    padding: 20px;
    input[message-search="true"] {
        border: none;
        font-size: auto;
        font-style: italic;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: none;
        padding: 20px;
        font-size: 0.9em;
        background-color: #ececec3f;
        color: #2350e47c;
        font-weight: bold;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    button[message-button-search="true"] {
        font-size: 14px;
        font-style: italic;
        height: 40px;
        border-radius: 20px;
        border: none;
        font-size: 1em;
        background-color: #23118877;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border: none;
    }

    button[message-button-search="true"]:hover {
        background-color: #1e1c9c23;
        color: #8665be;
        cursor: pointer;
    }

    label {
        font-size: 16px;
        font-style: italic;
        border-radius: 20px;
        border: none;
        font-size: 1em;
        color: #02051fe1;
        font-weight: bold;
    }

    .hidden-label {
        display: none;
    }

    button:hover .hidden-label {
        // dead stop animation
        display: block;
        animation: deadStop 1.25s cubic-bezier(0.23, 1, 0.32, 1);
    }
    @keyframes deadStop {
        // slide in fade
        0% {
            height: 0px;
            transform: translateX(100px);
            opacity: 0;
        }
        100% {
            height: 20px;
            transform: translateX(0px);
            opacity: 1;
        }
    }

    // a modern looking textarea

    textarea[message-content="true"] {
        font-size: 14px;
        font-style: italic;
        height: auto;
        border-radius: 20px;
        padding: 10px;
        font-size: 1em;
        background-color: transparent;
        color: #091642c7;
        font-weight: bold;
        margin-bottom: 10px;
    }

    textarea[message-content="true"] {
        width: 100%;
        height: 200px;
        resize: none;
    }
}

/*  start of Messages Pannel  */

.container-chat-log {
    background-color: #c1d8d81a;
    width: auto;
    padding: 20px;
    margin: 20px;
    height: 100%;
    overflow-y: scroll;
    height: 25vh;
    border: 1px solid #32416d28;

    p:nth-child(odd) {
        background-color: #ececec3f;
        color: #2350e47c;
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .chat-bubble {
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 10px;
        font-weight: 200;
        font-size: 1.2em;

        .convo-recipient {
            background: #ffffffe1; /* fallback for old browsers */
            color: rgba(20, 20, 20, 0.918);
            font-size: 16px;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 10px;
            width: auto;
            float: left;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        .convo-user:hover {
            background: #bad4fdea; /* fallback for old browsers */
            cursor: pointer;
        }
        // modern chat bubble

        .convo-user {
            background: #98bdf8ea; /* fallback for old browsers */
            color: rgba(17, 17, 17, 0.918);
            font-weight: 600;
            font-size: 16px;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 10px;
            width: 90%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
                rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            .covo-sent-msg {
                color: rgb(0, 0, 0) !important;
                font-weight: 900;
                font-size: 12px;
            }
        }

        .convo-recipient:hover {
            background-color: #77d3f72a;
            cursor: pointer;
        }
    }
}

.dont-show {
    display: none;
}

#chat-component-hide {
    display: block;
}

/* end of Messages Pannel */

/* scroll bar styling for the box container  */
.container-chat-log::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.container-chat-log::-webkit-scrollbar-track {
    background: rgb(204, 205, 240);
    border-radius: 10px; /* color of the tracking area */
}

.container-chat-log::-webkit-scrollbar-thumb {
    background-color: rgba(29, 29, 155, 0.411); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

// styling for the contacts box scrollbar
.contacts-container {
    max-height: 100vh;
    width: auto;
    overflow-y: scroll;
}
.contacts-container::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.contacts-container::-webkit-scrollbar-track {
    background: rgba(175, 175, 175, 0.46);
    border-radius: 10px; /* color of the tracking area */
}

.contacts-container::-webkit-scrollbar-thumb {
    background-color: rgba(
        184,
        104,
        104,
        0.467
    ); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}


.pannel-border-light {
    border: 1px solid #32416dbd;
}



/* end of the scroll styling  */



/* profile card styles  */

.profile-info-list {


    li {
        border: none;
        padding: 10px;
        color: slategray;


        .header {
            font-weight: 700;
        }

        .content {
            margin-left: 10x;
        }
    }

    .badge {
        margin-left: 20px;
    }
}


.navbar-brand-img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin-right: 10px;
}

// drop shift role badge

.dropshift-role {
    border: none !important;
    background-color: #701f1ccc; /* fallback for old browsers */
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.dropshift-role:hover {
    cursor: pointer;
    background-color: #310000;
}

// recipe section

.recipe-nav {

    background-color: #52566621 !important;

   .nav-link {
       color: black;
   }

   .nav-link:hover {
       color: black;
   }

    .nav-item {
        width: 100%;
        background-color: transparent;
        border-radius: 20px;

    }

    .nav-item:hover {
        background-color: #a3a3a321 !important;
        color: #fff;
        // add the boxshadow
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        cursor: pointer;
    }

}


.modal-recipe-img {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.recipe-modal {


    @media (min-width: 992px) {
        .modal-dialog {
            max-width: 80%;
        }
    }

    .modal-dialog {
        // make a responsive width for the modal
        max-width: 80%;
        max-height: auto;
    }


    .modal-header {
        color: white;
        border-bottom: none;
    }

    .modal-body {
        padding: 10px;
    }
}


// remove images from the mobile view

.desktop-view {
    display: block;
}

// views for tablet and mobile to remove images to save resources

// tablet view
@media (max-width: 991px) {
    .desktop-view {
        display: none;
    }
}

// smaller mobile view
@media (max-width: 767px) {
    .desktop-view {
        display: none;
    }
}



// alert section


.alert-container {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    z-index: 9999;
    margin: 0;


    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5em;
        color: rgb(0, 13, 47);
        padding: 5px;
        cursor: pointer;
    }

    .close:hover {
        color: rgb(106, 106, 106);

    }
}

// animation for growing and shrinking animation

@keyframes grow {
    0% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.1);
    }
}



/** button tiles for the employee page */

