/**
    @file: punch-card.scss

    @purpose: this file contains the styles for the punch card component
*/

.punch-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);


    button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: none;
        font-size: 1rem;
        font-weight: bold;
        color: #000;
        text-align: center;
        padding: 20px;
        transition: all 0.2s ease-in-out;
        margin: 5px;props.punchInNumber

        &:hover {
            background-color: #e5e5e5;
        }


        &:active {
            background-color: #8bb4ff;
        }
    }
}


