/**
    @file: punch-card.scss

    @purpose: this file contains the styles for the punch card component
*/


.punchcard-container {
    color: white;
    padding: 50px;
    box-shadow: 9px 9px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-punch-container {
    background-color: beige;
    padding: 100px;
    box-shadow: 9px 9px 20px 0 rgba(0, 0, 0, 0.2);
    color: black;
    border-radius: 10px;
}

.card-punch-container-body {

    .center {
        position: relative;
    }

    button {
        padding: 25px;
        background-color: #0d1b3d;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        left: 50%;
    }

    button:hover {
        background-color: #2d54af;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}


.punch-tile {
    background-color: rgba(82, 137, 255, 0.993);
    margin: 5px;
    padding: 50px;
}
