/**
   @file: schedule.scss

   @purpose: This file contains the styles for the schedule component.

*/

// this is class the schedule table will be wrapped inside of
.schedule-table {
    // use a light theme for this table

    background-color: #fbfbfb73;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-bottom: 20px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    thead {
        // this is the header row
        background-color: #5f9fffba;
        border-bottom: 1px solid #d3d3d3;
        border-radius: 5px 5px 0 0;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        padding:25px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;


        th {
            // this is the header cell
            font-size: 1.5em;
            padding: 25px;
            text-align: center;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            padding: 20px;

            &:hover {
                cursor: pointer;
                background-color: #092a5dc9;
                color: white;
                // use a heavy box shadow to make the header pop up
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

            }
        }

    }

    tbody {
        // this is the body of the table
        border-bottom: 1px solid #d3d3d3;
        color: #333;
        font-size: 14px;
        padding: 10px;
    }

     tr {


     }

     td {
        padding: 15px;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: #9cc8e15b;
            // make a box shadow that is a little darker than the background color
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

        }
     }



     th {
        padding: 10px;
        text-align: center;
     }

}


.schedule-top-nav {
    .nav-link {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: #18128c2b;
            color: rgb(37, 37, 37);
        }
    }
}


.schedule-modal {
    background-color: #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;


    .form-group {
       label {
           color:rgba(12, 11, 47, 0.845);
       }
    }
}




// make the tile system for the schedule page
.tile {

    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 40px;
    padding: 25px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}



.pos-button {

    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;

    &:hover {
        background-color: rgba(34, 32, 138, 0.223);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .card-header {
        background-color: transparent;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        text-align: center;
        background-color: transparent;
    }
}
